.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
._*
.history
/*.iml
/.classpath
/.idea
/.idea_modules
/.project
/.settings
/RUNNING_PID
/out
Icon
dist
logs
project/project
project/target
target
tmp
