*.bak
*.sublime*
*.launch
*.pydevproject
*.swp
*.tmp
*~.nib
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
._*
.buildpath
.classpath
.cproject
.externalToolBuilders/
.history
.loadpath
.metadata
.project
.settings/
/*.iml
/.classpath
/.idea
/.idea_modules
/.project
/.settings
/RUNNING_PID
/out
Icon
bin/**
dist
local.properties
logs
project/project
project/target
target
tmp
tmp/**
tmp/**/*
.cache
.target/
